<h1 mat-dialog-title>Get Weather Updates</h1>
<div *ngIf="data && data.searchBy == 'place'" mat-dialog-content>
  <p>Search By City Or Country ie lahore,PK</p>
  <table class="max-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="max-width">
          <mat-label>City</mat-label>
          <input matInput [(ngModel)]="city" placeholder="Ex. Lahore" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="max-width">
          <mat-label>Country</mat-label>
          <input matInput [(ngModel)]="country" placeholder="Ex. PK" />
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="data && data.searchBy == 'coordinates'" mat-dialog-content>
  <p>Search By Location Coordinates </p>
  <table class="max-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="max-width">
          <mat-label>Latitude</mat-label>
          <input matInput [(ngModel)]="lat" placeholder="Ex. 31.5497" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="max-width">
          <mat-label>Longitude</mat-label>
          <input matInput [(ngModel)]="lon" placeholder="Ex. 74.3436" />
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button (click)="search()" cdkFocusInitial>Search</button>
</div>
